{
  "extends": ["taro", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "taro/jsx-handler-names": 0,
    "import/prefer-default-export": 0,
    "import/no-commonjs": 0
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint"
}
