.mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.modal {
  opacity: 1;
  width: 572px;
  background-color: white;
  border-radius: 10px;
}
.title {
  font-family: PingFangSC-Semibold;
  font-size: 0.8rem;
  color: #4a4a4a;
  text-align: center;
  letter-spacing: 1.4px;
  height: 1.8rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #f1f1f1;
}
.contentText {
  width: 100%;
  padding: 1rem 5%;
  line-height: 0.8rem;
  color: #555;
  font-size: 0.92rem;
  box-sizing: border-box;
  text-align: center;
}
.textarea {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}
.entryText {
  width: 100%;
  line-height: 0.52rem;
  font-size: 0.8rem;
  height: 4.6rem;
  padding-top: 15px;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.48rem;
  text-align: center;
  border-top: 2px solid #f1f1f1;
}
.btn-main {
  width: 50%;
  padding: 10px;
  font-size: 0.66rem;
  height: 1.38rem;
  line-height: 1.38rem;
  text-align: center;
}
.cancle {
  background-color: #f5f5f5;
  color: #555;
  border-bottom-left-radius: 10px;
}
.submit {
  background-color: #4d4d4d;
  color: #fff;
  border-bottom-right-radius: 10px;
}
