.swiper-image {
  height: 280px;
  width: 100%;
  
  > .swiper-container {
    height: 280px;
    width: 100%;
  }
}
.cinema-box {
  > .cinema-item {
    padding: 15px 25px;
    line-height: 50px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    border-bottom: 1px solid #f5f5f5;

    > .cinema-name {
        font-size: 32px;
        color: #000;
    }

    > .cinema-address {
        font-size: 24px;
        color: #666;
    }

    > .tags {
      > .normal {
          border: 1px solid #f5f5f5;
          font-size: 20px;
          margin-right: 10px;
          padding: 0 6px;
      }

      > .tag-0 {
          border-color: rgb(88, 157, 175);
          color: rgb(88, 157, 175);
      }

      > .tag-1 {
          border-color: rgb(88, 157, 175);
          color: rgb(88, 157, 175);
      }

      > .tag-2 {
          border-color:rgb(255, 153, 0);
          color: rgb(255, 153, 0);
      }

      > .tag-3 {
          border-color: rgb(255, 153, 0);
          color: rgb(255, 153, 0);
      }

      > .tag-4 {
          border-color: rgb(88, 157, 175);
          color: rgb(88, 157, 175);
      }
      
      > .tag-5 {
          border-color: rgb(255, 153, 0);
          color: rgb(255, 153, 0);
      }

      > .tag-6 {
          border-color: rgb(88, 157, 175);
          color: rgb(88, 157, 175);
      }
    }
  }
}

.bg_one_cinema {
  width: 100%;
  height: 400px;
  position: relative;

  > .bg-cinema_image {
      position: absolute;
      height: 400px;
      width: 100%;
      z-index: 101;

      > .cinema_phone {
          width: 100%;
          height: 400px;
      }
  }

  > .bg-cinema_content {
      width: 100%;
      position: absolute;
      z-index: 201;
      bottom: 0;
      height: 150px;
      background-color: rgba(99, 99, 99, .55);

      > .normal-text {
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;
        opacity: 1;
        color: #eeeeee;
      }
      > .title-text {
        font-size: 34px;
      }
  }
}

.movie-box {
  width: 100%;

  > .scroll-x_movies {
    background-color: #f5f5f5;
    width: 100%;
    overflow-x: scroll;
    padding: 25px 0;

    > .cover-box {
        width: 1000px;

        > .cover-cell {
            width: 180px;
            height: 230px;
            margin-left: 25px;
            overflow: visible;
        }
    }

  }
}

.tigger-current_movie {
  padding: 35px 30px;
  background-color: white;
  line-height: 50px;
  color: #555;
  font-size: 28px;
}
.order-ticket {
  background-color: #383838;
  color: white;
  margin: 0 3%;
  padding: 20px 0;
  font-size: 35px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 94%;
}