.grid-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-top: 1px solid #f5f5f5;
  flex-wrap: wrap;

  > .flex-cell {
    padding: 35px 0;
    width: 33%;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    text-align: center;

    > .iconPath {
      width: 66px;
      height: 66px;
    }

    > .footer-text {
      color: #555;
      font-size: 25px;
      margin-top: 5px;
    }
  }
}
