.plan_pager_item_container {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-top: 0.5rem solid #f1f1f1;

  > .plan_item_title {
    padding: 0.42rem 0.66rem;
    border-bottom: 0.01rem solid #eee;
    display: flex;

    > .plan_item_left {
      flex: 1;

      > .item_title {
        margin-left: 12px;
        color: #333;
        font-size: 0.88rem;
      }

      > .item_icon {
        width: 32px;
        height: 32px;
      }
    }

    > .plan_item_right {
      width: 6rem;
      max-width: 6rem;
      text-align: right;
      font-size: 0.8rem;
    }
  }

  > .plan_item_content {
    padding: 0.62rem 0.66rem 0.88rem;
    position: relative;
    display: flex;
    border-bottom: 0.01rem solid #eee;

    > .item_order_left {
      width: 75%;
      > .item_order_name {
        font-size: 0.82rem;
        line-height: 1.7;
        margin-bottom: 0.3rem;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      > .item_order_date {
        white-space: nowrap;
        color: #666;
        font-size: 0.8rem;
      }
      > .item_order_tag {
        color: #999;
        font-size: 0.66rem;
      }
    }

    > .item_order_right {
      width: 25%;
      text-align: right;
      padding-left: 0.1rem;

      > .item_order_price {
        line-height: 1.7;
        color: #333;
        max-width: 0.81rem;
        font-size: 1rem;
      }
    }
  }

  > .plan_item_action {
    padding: 0.5rem 0.66rem;
    height: 1.8rem;

    > .item_action_button {
      float: right;
      padding: 0.1rem 0;
      text-align: center;
      height: 1.5rem;
      line-height: 1.5rem;
      width: 3.2rem;
      color: #bbb;
      border: 0.1px solid #eee;
      font-size: 0.62rem;
      letter-spacing: 0.03rem;
      border-radius: 15px;
      margin-left: 0.5rem;
    }
  }
}
.order_status_10 {
  color: #ccc;
}
.order_status_20 {
  color: #fecf03;
}
.order_status_30 {
  color: #fecf03;
}
