.container {
  position: relative;
}
/* 底图 */
.cover {
  position: relative;
  width: 100vw;
  height: 7.16rem;
}
.searchContainer {
  width: 94%;
  position: absolute;
  z-index: 100;
  margin: 0.24rem 3% 0;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 0.32rem;
  border-color: #ffffff;
  font-size: 0.56rem;
}
.searchText {
  padding: 0.16rem 0.24rem;
}
.swiperContainer {
  height: 4.3rem;
  position: absolute;
  z-index: 100;
  top: 2.2rem;
  margin: 0.24rem 3% 0;
  width: 94%;
}
.swiperBox {
  height: 4rem;
}
.swiperImages {
  height: 4rem;
  width: 100%;
}
/* 当季旅游地 */
.recommend {
  width: 100vw;
  padding: 0.48rem 0;
}
.remContainer {
  height: 5.2rem;
  margin-top: 1.32rem;
  padding: 0 3%;
}
.remList {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
/* 热门推荐 */
.hotContainer {
  composes: recommend;
}
.hotBox {
  width: 100%;
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.hotCell {
  width: 33%;
  height: 4.7rem;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  text-align: center;
}
.hotImage {
  width: 100%;
  height: 4.7rem;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.hotCss {
  color: #fdfdfd;
  position: absolute;
  text-align: center;
  width: 100%;
}
.hotText {
  composes: hotCss;
  font-size: 0.78rem;
  top: 2.2rem;
}
.hotSummary {
  composes: hotCss;
  font-size: 0.68rem;
  top: 3.4rem;
}

/* 福利 */
.welfareContainer {
  width: 94%;
  margin: 0 3%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 0.1rem solid #f1f1f1;
  border-radius: 0.4rem;
}
.welfareItems {
  width: 50%;
  box-sizing: border-box;
  padding: 0.46rem 0.3rem 0;
}
.welfateText {
  color: rgb(74, 74, 74);
  font-size: 0.78rem;
  margin-bottom: 0.32rem;
}
.movieCover {
  width: 100%;
  border-radius: 0.3rem;
  height: 7.1rem;
}
.planeCover {
  width: 100%;
  height: 3.4rem;
  border-radius: 0.3rem;
}
.welfareMore {
  width: 100%;
  font-size: 0.72rem;
  color: rgb(74, 74, 74);
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

/* 旅行 */
.travelContainer {
  composes: recommend;
}
.travelBox {
  width: 100%;
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.travelCell {
  width: 50%;
  height: 9.46rem;
  position: relative;
  box-sizing: border-box;
  padding: 0 0.2rem;
}
.travelImage {
  width: 100%;
  height: 9rem;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 0.3rem;
}
.travelText {
  color: #fdfdfd;
  position: absolute;
  width: 100%;
  left: 0.8rem;
  font-size: 0.8rem;
  bottom: 1rem;
}
