.index_pager_2 {
  position: relative;

  .swiper-cover {
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 308px;
    top: 0;
    left: 0;
  }

  .swiper-search {
    width: 94%;
    position: absolute;
    z-index: 100;
    margin: 12px 3% 0;
    background-color: white;
    border-radius: 16px;
    border-color: #ffffff;
    font-size: 24px;

    > .search-text {
      padding: 8px 12px;
    }
  }

  .swiper-image {
    height: 188px;
    width: 94%;
    position: absolute;
    z-index: 100;
    top: 98px;
    margin: 0 3%;

    > .swiper-container {
      height: 188px;
      width: 100%;
    }
  }

  .index_pager_grid {
    position: absolute;
    top: 320px;
    width: 100vw;

    > .index_pager_grid_container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;

      > .flex-cell {
        padding: 35px 0;
        width: 25%;
        text-align: center;

        > .grid_iconPath {
          width: 66px;
          height: 66px;
        }

        > .grid_text {
          color: #555;
          font-size: 25px;
          margin-top: 5px;
        }
      }
    }
  }

  .index_pager_divider {
    position: absolute;
    top: 500px;
    width: 100vw;
  }

  .index_pager_recommend {
    position: absolute;
    top: 510px;
    width: 100vw;
    padding: 12px 0;

    > .course-name {
      height: 318px;
      margin-top: 66px;
      padding: 0 3%;

      .course-container {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
      }
    }
  }

  .index_pager_low_way {
    width: 100vw;
    padding: 12px 0;

    .items-container {
      margin-top: 72px;
      padding: 0 3%;
      width: 94%;
      display: flex;
      flex-wrap: wrap;

      .items-items {
        width: 47%;
        margin: 1.5%;
        border-radius: 8px;
        background-color: #f1f1f1;

        .items-cover {
          width: 100%;
          height: 250px;
        }
        .items-content {
          white-space: pre-wrap;
          border: 0px solid black;
          position: relative;
          box-sizing: border-box;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          flex-direction: column;
          align-content: flex-start;
          flex-shrink: 0;
          font-size: 26px;
          font-weight: 600;
          color: rgb(51, 51, 51);
          height: 78px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          line-height: 36px;
          padding: 2px 12px;
        }
        .items-price {
          position: relative;
          box-sizing: border-box;
          display: block;
          -webkit-box-orient: vertical;
          flex-direction: column;
          align-content: flex-start;
          flex-shrink: 0;
          font-size: 32px;
          color: rgb(255, 80, 0);
          line-height: 30px;
          height: 50px;
          margin-top: 22px;
          padding: 2px 12px;
        }
      }
    }
  }

  // 飞机低价
  .plane-way {
    position: absolute;
    top: 820px;
  }

  // 火车低价
  .train-way {
    position: absolute;
    top: 1784px;
  }

  // 大巴低价
  .bus-way {
    position: absolute;
    top: 2748px;
  }
}
