.index {
  margin-bottom: 100px;
}
.taro-app-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: rgba(43, 43, 43, 0.8);
  padding-top: 66px;
  font-size: 48px;
}