.main-btn {
  position: relative;
  width: 614px;
  height: 96px;
  border-radius: 54.4px;
  box-shadow: 0 5px 5px 5px rgba(213, 212, 228, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-btn::after {
  border: none;
}
.text {
  font: 30px 'NotoSansHans-Regular';
  letter-spacing: 2.02px;
  color: #434044;
}

.main-btn-primary-bg {
  background-image: linear-gradient(-90deg, #fdea48 4%, #fcdc31 96%);
}

.main-btn-secondary-bg,
.main-btn-threedary-bg {
  background-color: #fff;
}

.main-btn-primary-hover-bg {
  background-image: linear-gradient(-90deg, #fdd248 4%, #fcbc31 96%);
}

.main-btn-secondary-hover-bg,
.main-btn-threedary-hover-bg {
  background-color: #e9ebf9;
}

.small {
  width: 470px;
  height: 82px;
}

.normal {
  width: 604px;
  height: 84px;
}
