.equipment-container {
  width: 100%;

  > .equipment-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f7f7f7;

    > .text {
      font-size: 34px;
      letter-spacing: 3px;
      color: #4a4a4a;
    }
  }

  > .girl-container {
    padding: 0 3%;
    width: 94%;

    > .cell-container {
      display: flex;
      padding: 3% 0;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
      letter-spacing: 3px;
      color: #4a4a4a;
      border-bottom: 1px solid #f1f1f1;

      > .label {
        color: rbga(0, 0, 0, 0.8);
      }
    }
  }
}
