.container {
  width: 100vw;
  height: 100vh;
}
.title {
  text-align: center;
  height: 40px;
  background-color: #f7f7f7;
  font-size: 34px;
}
.text {
  letter-spacing: 3px;
  color: #4a4a4a;
}
.list {
  padding: 0 3%;
  width: 100%;
  box-sizing: border-box;
}
.cell {
  display: flex;
  padding: 3% 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  border-bottom: 1px solid #f1f1f1;
}
.label {
  color: rbga(0, 0, 0, 0.8);
}
