.container {
  width: 94vw;
  padding: 0 3vw;
}
.text {
  font-size: 0.66rem;
  color: rgb(74, 74, 74);
  letter-spacing: 1.7px;
  height: 2rem;
  line-height: 1.6rem;
}
.left {
  composes: text;
  float: left;
  font-size: 0.88rem;
  font-weight: 600;
}
.right {
  composes: text;
  float: right;
  font-size: 0.66rem;
}
