.container {
  height: 430px;
  width: 100%;
  background: #fecf03;
  color: white;
  padding-top: 60px;
}
.flex {
  justify-content: center;
  display: flex;
}

.title {
  font-size: 1.32rem;
}
.content {
  font-size: 0.92rem;
  padding-top: 1rem;
}
.summary {
  font-size: 0.7rem;
  padding: 0.7rem 1.4rem;
  text-align: center;
  line-height: 1.26rem;
}
