.user {
  position: relative;
  height: 350px;

  > .bg-mask {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: #f1f1f1;
    height: 350px;
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    > .mask-image {
      width: 100%;
      height: 350px;
    }
  }

  > .user-avatar {
    width: 100%;
    z-index: 200;
    text-align: center;
    padding-top: 70px;
    position: absolute;

    > .avatar {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }

    > .username {
      color: #666;
      margin-top: 15px;
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
}
