.app-introduce {
  height: 430px;
  width: 100%;
  background: #3c3c3c;
  color: white;
  padding-top: 60px;

  > .flex_pager_1 {
    justify-content: center;
    display: flex;
  }

  > .app-title {
    font-size: 56px;
  }

  > .app-content {
    font-size: 40px;
    padding-top: 50px;
  }

  > .app-summary {
    font-size: 30px;
    padding: 30px 70px;
    text-align: center;
    line-height: 58px;
  }
}
.open-test {
  height: 350px;
  width: 100%;
  background-color: #3c3c3c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > Text {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 48px;
  }

  > button.btn-server-test {
    width: 30%;
    height: 80px;
    background: #27d4ff;
    color: white;
    font-size: 32px;
  }
}
