.container {
  position: relative;
  height: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.timeVertical{
  list-style-type: none;
  border-left : 1px solid #707070;
  padding: 0px;
}
.verticalStyle {
  position: relative; 
}