.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-image {
  margin-top: 118px;
  height: 134px;
  width: 134px;
  border-radius: 20px;
}

.content {
  margin: 20px 0 10px;
  line-height: 34px;
  text-align: center;
}
.version {
  color: #4a4a4a;
}
.text {
  font-size: 34px;
  letter-spacing: 3px;
}

.btnContainer {
  height: 340px;
  margin-top: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.development {
  height: 446px;
  margin-top: 310px;
}
