.container {
  background-color: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
.timeline {
  background-color: #fecf03;
  width: 100%;
  padding: 56px 10px 66px;
  display: flex;
  box-sizing: border-box;
}
.flex {
  width: 33.33%;
  color: white;
  line-height: 68px;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.label {
  margin: 0;
  text-align: center;
  font-size: 38px;
  color: #fff;
}
.date {
  margin: 0;
  text-align: center;
  font-size: 46px;
  color: #fff;
}
.ticketContainer {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 348px;
}
.tickFlex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 24px 0;
  color: #333;
  border-bottom: 1px solid #f5f5f5;
  font-size: 32px;
}
.orange {
  color: #f0670b;
}
.reserve {
  font-size: 28px;
  background: orange;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  float: right;
}
.testPlane {
  width: 100%;
  background-color: #fff;
  color: red;
}