.wallet-box {
  position: relative;
  height: 500px;
  padding: 5%;

  > .wallet-mask {
    position: absolute;
    z-index: 100;
    width: 90%;
    border-radius: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(192, 190, 212);
    height: 436px;
  }

  > .wallet-money {
    width: 90%;
    z-index: 200;
    position: absolute;

    > .normal-title {
      color: rgb(74, 74, 74);
      margin-top: 50px;
      margin-left: 44px;
      font-size: 30px;
      letter-spacing: 2px;
    }
    > .wallet-number {
      color: rgb(74, 74, 74);
      margin: 20px 44px;
      font-size: 60px;
      letter-spacing: 2px;
    }
  }
}

.wallet-action {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;

  .wallet-flex {
    width: 50%;
  }
}
